{"fgcolor": "#D3D7CF", "bgcolor": "#000000", "font1": {"family": "Noto Mono", "size": 12, "weight": "normal", "slant": "roman", "underline": 0, "overstrike": 0}, "font2": {"family": "Noto Mono", "size": 10, "weight": "normal", "slant": "roman", "underline": 0, "overstrike": 0}, "scrollbar_width": 30, "elementborderwidth": 4, "first_tabstop_integer": "2", "first_tabstop_decimal": "0"}